<% if(successInfo.length >0 ){%>
    <div class="alert alert-success text-center" role="alert">
        <%= successInfo%>
      </div>
      <%} elfe if(failedInfo.length >0 ){%>
        <div class="alert alert-danger text-center" role="alert">
            <%= failedInfo%>
          </div>
      <%}%>
      
