<div class="notif" id="notif">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <p class="close" onclick="off()">&times;</p>
            </div>
            <div class="modal-body">
                <p id="ask"></p>
            </div>
            <div class="modal-footer">
                <div class="btn-grp">
                    <button type="button" class="off-click" onclick="off()">No</button>
                    <a id="nextdelete" class="nextdel" href="#">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>