<%- include('partials/header')%>
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Adding Data</h1>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row mb-3">
                    <label for="tittle" class="col-sm-2 col-form-label">Tittle</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tittle" name="title"
                            placeholder="insert your tittle" required>
                    </div>
                </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
            <a href="/users" class="btn">
                <button class="btn btn-warning" type="button"><i class="fa-solid fa-rotate-left"></i></button>
            </a>
        </div>
        </form>
    </div>
    <%- include('partials/footer')%>