<%- include('partials/header')%>
  <div class="card">
    <div class="card-header">
      <div class="head">
        <h1 class="text-center">PostgreSQL Bread (Browse, Read, Add, Delete)</h1>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="row mb-2">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="insert your title">
          </div>
        </div>
        <div class="row mb-1">
          <label for="startdate" class="col-sm-2 col-form-label">Deadline</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" name="startdate">
          </div>
          <label for="enddate" class="col-sm-2 col-form-label">
            <p class="into">s.d.</p>
          </label>
          <div class="col-sm-4">
            <input type="date" class="form-control" name="enddate">
          </div>
        </div>
        <div class="row mb-2 list">
          <legend class="col-form-label col-sm-2 pt-0 left-comp">Complete</legend>
          <select class="form-select list-comp" aria-label="Default select example">
            <option selected>--Select Complete--</option>
            <option value="1">Note Yet</option>
            <option value="2">Done</option>
          </select>
        </div>
        <div class="op">  
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Operation</legend>
            <div class="col-sm-10 rad-list">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  OR
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  AND
                </label>
              </div>
            </div>
          </fieldset>
        </div>
          <div class="btn-group-search">
              <div class="formBtm">
                  <button class="btn btn-primary" type="submit">save</button>
                  <a href="/" class="btn ">
                      <button class="btn btn-warning" type="button">Back</button>
                  </a>
              </div>
          </div>
      </form>
      <div class="line"></div>
    </div>
    <div class="tab-list">
      <table>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Birth Date</th>
          <th>Is Married</th>
          <th>Actions</th>
      </tr>
      </table>
    </div>
    <div class="card-footer">
      <div class="foot-form">
        <div class="formBtm">
          <a href="/add" class="btn ">
            <button class="btn btn-primary" type="button">+</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer')%>

    <!-- <div class="tbl-edit">
      <a href="/edit" class="tombol">
        <button class="btm-add" type="button">edit</button>
      </a>
    </div> -->