.into {
  display: flex;
  justify-content: center;
}

a {
  color: #00B7FF;
}

.op {
  margin-top: 20px;
}

.rad-list {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.btn.group.search{
  margin-top: -5px;

}

.container-ava{
  border-bottom: 1px solid rgb(202, 202, 202);
  border-radius: 5px 5px 0px 0px;
  background-color: aqua;
  padding-bottom: -90px !important;
}

.ava {
  display: flex;
  align-items: center;
  gap: 30px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.btn-out {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-2em);
  margin-right: 10px;
}
.item.ava {
  transform: translateY(1em);
}

.delete {
  background-color: #DC3445;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 9px;
  color: white;
  text-align: center;
  padding: 10px;
  padding-top: 9px;
  cursor: pointer;
}

#deleteConfirm {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.delete-content {
  background-color: #fefefe;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #888;
  width: 32%;
  border-radius: 8px;
}